/* inline, block, inline-block */

.inline li{
display: inline;

}

.box {
    width: 32%;
    border: 1px solid black;
    background-color: gray;
    display: inline-block;
    box-sizing: border-box;
}

.form h2 {
    text-align: center;
}

.form-row {
    display: flex;
    margin-bottom: 10px;
}

.form-row .form-group{
    /* display: inline-block;
    width: calc(50%-20px); */
    margin-right: 20px;
    width: 50%;
}

.form-row .form-group :last-child {
    margin-right: 0;
}

.form-group label{
    display: block;
    font-size: 14px;
    color: #86898f;
}
.form-group input, textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

@media (max-width: 650px) {
    .form-row {
        display: block;
        
    }
    .form-row .form-group{
        margin-right: 0px;
        width: 100%;
        margin-bottom: 50px;
    }
}