 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 

body {
    background-color: #f1f1f1;
    color: #0f141e;

    /*
    font-size: 16px;
    font-weight: 500;
    font-family: 'roboto', sans-serif;
    */

    font: normal 16px 'roboto', sans-serif;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

h1 {
    color: red;

}

.avatar {

    width: 250px;
    height: 120px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);
}



.info {
    margin-bottom: 20px;
    display: flex;
}

.info h1 {
    margin-left: 20px;
}

.info p {
    color: #86898f;
    margin: 0;
    font-style: italic; 
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    margin: 0px;
}

@media (max-width: 850px) {
    .info {
        display: block;
        text-align: center;
    }
    
}

.color1 {
    background: bisque;
}

.color2 {
    background: rgb(227, 192, 150);
}

.color3 {
    background: rgb(186, 179, 232);
}

.card {
border: 1px solid red;
border-radius: 15px;
padding: 5px 15px;
margin-bottom: 15px;
}

.card p {
  font-size: 14px;  
  
}

.card h2 {
    margin-bottom: 5px;
}

.bg-yellow {
    background: #fff9dc;

}

.bg-red {
    background: #ffe5e5;
    
}

.bg-green {
    background: #e5ffe7;
    
}